TELEGRAM_TOKEN=
TG_CHAT_ID=
OPENAI_API_KEY=
FLN_OAUTH_TOKEN=
FLN_URL=https://www.freelancer.com
DATABASE_URL=sqlite:///data/job_bot.db

CHECK_INTERVAL_SEC=10
FRESH_WINDOW_SEC=7200
API_LIMIT=200
SNIPPET_LIMIT_NOTIFY=700
SNIPPET_LIMIT_MODEL=900
SEARCH_QUERY=
SEARCH_JOBS=13,36,68,95,292,334,495,497,673,695,709,717,761,780,889,1039,1420,1423
DEBUG_MATCH=0
